<div class="app-wrapper">
  <div class="info-wrapper">
    <img (click)="open(content)" src="/assets/info.svg"/>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">About Ngx-OpenCV</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>
        Ngx-OpenCV enables you to upload an image of your choosing and test the opencv image processing api with <strong>prebuilt configurations</strong>.
      </p>
      <p>
        The application is built using: Angular 9, opencv.js, bootstrap4, Angular Materials and more.
      </p>
    </div>
    <div class="modal-footer" style="text-align: center">
      <p>By Michael Levitin & Daniel Luft</p>
    </div>
  </ng-template>
  <h1>Ngx-OpenCV</h1>
  <mat-vertical-stepper [linear]="false" #stepper>
    <mat-step>
      <ng-template matStepLabel>Upload Image</ng-template>
      <div class="input-wrapper">
        <input class="inputfile" mat-input id="file" name="file" type="file" (change)="imgLoaded($event)"
               [accept]="supportedFormats"/>
        <label for="file">Click To Choose Image</label>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Apply OpenCV Tools</ng-template>
      <div class="img-preview-wrapper" *ngIf="originalImage">
        <h5>Original Image:</h5>
        <img id="origImage" [src]="originalImage"/>
      </div>
      <div class="tools-wrapper" [ngStyle]="{ display: originalImage ? 'block' : 'none' }">
        <div class="tools">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Image Processing Tools</mat-card-title>
              <mat-card-subtitle>( All the tools are using prebuilt values and configuration )</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div class="tool-category" *ngFor="let category of getKeys(tools)">
                <div class="category-title">{{ category }}</div>
                <div class="tool-wrapper">
                  <button *ngFor="let tool of getKeys(tools[category])" (click)="runTool(category, tool)"
                          type="button" class="btn btn-outline-primary mr-2" placement="bottom" triggers="mouseenter:mouseleave"
                          [ngbPopover]="tools[category][tool].description" [popoverTitle]="tool"
                          [ngClass]="setButtonStyle(tool) != -1 ? 'btn-active' : 'btn-original'"
                  >
                    {{ tool }}
                  </button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="img-preview-wrapper">
          <h5>Modified Image:</h5>
          <mat-spinner *ngIf="imageLoading"></mat-spinner>
          <canvas id="modImage" [ngStyle]="{ visibility: imageLoading ? 'hidden' : 'visible' }" ></canvas>
        </div>
        <div class="download-btn">
          <button (click)="finished()" class="btn-finished">Finished</button>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Download Your Modified Image</ng-template>
      <div class="download-wrapper" *ngIf="showLink">
        <a [href]="modifiedImage" download>
          <button class="btn-finished">
            Download
          </button>
        </a>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
